@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
    width: 100vw;
    margin: 0px;
    padding-top: 5%;
    background-color: #3F72AF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
}

#root {
    background-color: #F9F7F7;
    width: 35vw;
    border-radius: 20px;
    padding: 15px;
}

@media (max-width: 1024px) {
    #root {
        width: 80vw;
    }
}

h1 {
    margin: 5px;
    display: flex;
    justify-content: center;
    user-select: none;
}

.addBar {
    padding-bottom: 10px;
    border-bottom: 1px solid #111;
    display: flex;
    justify-content: center;
}

.addBar input {
    background-color: #DBE2EF;
    margin: 0px;
    padding: 0px;
    border-radius: 5px 0px 0px 5px;
    font-size: 1.3em;
    font-family: 'Josefin Sans', sans-serif;
    width: 12em;
}

.addBar button {
    border-radius: 0px 5px 5px 0px;
    background-color: #AAAAAA;
    color: #fff;
    font-size: 1.5em;

}

.addBar input,
.addBar button {
    border: none;
    padding: 8px;
    cursor: pointer;
    border: 1px solid #B1B1B1;
    transition: 0.5s;
    user-select: none;
}

.addBar input:hover {
    background-color: #b8ccf1;
}

.addBar button:hover {
    background-color: #848383;
}

.list {
    list-style-type: none;
    padding: 0px;
}

.listItem {
    background-color: #DBE2EF;
    border-radius: 5px;
    min-height: 40px;
    margin: 15px 0px 15px 0px;
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    transition: 0.5s;

}
.listItem:hover {
    background-color: #b8ccf1;
}

.listItem span {
    width: 90%;
    word-wrap: break-word;
    font-size: 1.4em;
}

.listItem input {
    width: 3vw;
    height: 3vh;
    cursor: pointer;
}
.listItem button{
    background-color: rgba(0, 0, 0, 0);
    background-image: url(/public/delete_FILL0_wght400_GRAD0_opsz48.svg);
    width: 2em;
    height: 2em;
    border: none;
    background-size: cover;
    cursor: pointer;
    transition: 0.5s;
}
.listItem button:hover{
    width: 2.2em;
    height: 2.2em;
}
.empty{
    display: flex;
    justify-content: center;
    user-select: none;
}